body{
    font-family: Tahoma;
    font-size: 40px;
    white-space: nowrap;
}
.table{
	display: -webkit-flex;
	flex-direction: row;
	position: fixed;
    top: 10px;
    left: 10px;
	bottom: 5px;
	right: 5px;
}
.box{
    height: 150px;
    width: 90px;
    background-color: #eeeff2;
	border-left: 10px dotted #D0D0FF;
}
.gray{
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    top: 10px;
    left: 10px;
}
.gray:hover{
    background-color: yellow;
    cursor: pointer;
}

.lgray{
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    top: 10px;
    left: 10px;
}
.lgray:hover{
    background-color: goldenrod;
    cursor: pointer;
}
.lynch{
    position: absolute;
    align-self: flex-end;
    display: flex;
    bottom: 5px;
    right: 5px;
}
.lynch:hover{
    background-color: respectively;
    cursor: pointer;
}